<html>
<head>
<style>
body {
  background-color:lightgray;
 }
  h1{color: red; font-size: 50px;}
  h2{font-size: 40px;}
  p{font-size: 20px;}
</style>
</head>
<body>
    <h1>Hi, Everyone</h1>
    <h2>This is  <a
       href="http://diep.io/"target="new">Diep.io</a></h2>
    <img src = "http://a2.mzstatic.com/us/r30/Purple71/v4/69/23/a1/6923a1a0-7b63-97ec-ca79-268b2a9ff209/sc552x414.jpeg"><img>
    <br/>
    <p>
      diep.io是一款多國的線上網頁遊戲，玩家在大坦克打小坦克的遊戲世界中一開始需操控一台射速慢、移動慢、子彈爛且超級脆弱的坦克，閃避周遭飛過來的子彈，一邊摧毀的空間中隨機生成的靶(三角形塊、正方形塊、五角形塊)，逐漸成長後就可以開始攻擊其他玩家。
    <p/>
    <p>
      W.A.S.D／方向鍵移動<br/>
      滑鼠控制子彈發射方向<br/>
      空白鍵／滑鼠左鍵發射子彈(按住可連發)<br/>
      E / 自動射擊功能<br/>
      C / 自動旋轉(順時鐘6秒/圈)<br/>
      <br/>
     1 Health Regen：HP回復速度。<br/>
     2 Max Health：HP最大值。　<br/>
     3 Body Damage：碰撞傷害。越多撞擊物體時其所受傷害越大。<br/>
     4 Bullet Speed：子彈速度。會影響射程，因速度變快所以射比較遠。<br/>
     5 Bullet Penetration：子彈穿透。就是子彈HP啦XD。<br/>
     6 Bullet Damage：子彈傷害。越多傷害越大。越多擊退力越強<br/>
     7 Reload：子彈發射頻率。越多發射間隔越短。<br/>
     8 Movement Speed：移動速度。越多移動速度越快。
      <p/>
    <br/>    
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/E9vRJAqDgIg">
  </iframe>
    <br/>  
    <a href="http://diep.io/" target="new">
    <img src = "https://ai-i3.infcdn.net/icons_siandroid/png/200/11115/11115422.png"><img>
  </a>
  </body>
</html>
